<!-- Components info: https://webdev.dartlang.org/components -->
<div>
  <material-input label="Server address"
                  autoFocus floatingLabel style="width:80%"
                  [(ngModel)]="ip">
  </material-input>

</div>

<material-radio-group>
  <material-radio (checkedChange)="toggle($event, false, false)">Off</material-radio>
  <material-radio (checkedChange)="toggle($event, false, true)">On</material-radio>
  <material-radio (checkedChange)="toggle($event, true, false)">Auto</material-radio>
</material-radio-group>

<p>{{status}}</p>
